@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&family=Roboto:wght@300&display=swap');

*{box-sizing: border-box;}
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-image: url("IMG_0791.JPG");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4%;

}
h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: -5rem;
    text-align: center;
}
.countdown-container{
    display: flex;
}
.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.countdown-el{
    text-align: center;
}
.countdown-el span{
font-size: 1.5rem;
}
